asgiref==3.8.1
asttokens==3.0.0
attrs==25.1.0
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==44.0.0
decorator==5.1.1
defusedxml==0.8.0rc2
Django==3.2.3
django-extra-fields==3.0.2
django-filter==21.1
django-rest-authtoken==2.1.4
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
docopt==0.6.2
executing==2.2.0
fastjsonschema==2.21.1
flake8==6.0.0
flake8-isort==6.0.0
gunicorn==20.1.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
ipython==8.12.3
isort==5.13.2
itypes==1.2.0
jedi==0.19.2
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.1.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
oauthlib==3.2.2
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.0.0
pipdeptree==2.25.0
platformdirs==4.3.6
pluggy==0.13.1
prompt_toolkit==3.0.50
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pycodestyle==2.10.0
pycparser==2.22
pyflakes==3.0.1
Pygments==2.19.1
pyshorteners==1.0.1
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2025.1
PyYAML==6.0
pyzmq==26.2.1
referencing==0.36.2
reportlab==4.3.0
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.22.3
six==1.17.0
social-auth-app-django==4.0.0
social-auth-core==4.5.4
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
tinycss2==1.4.0
toml==0.10.2
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
webcolors==1.11.1
webencodings==0.5.1
yarg==0.1.9
zipp==3.21.0
